.v-radio + .v-radio {
  margin-left: 0 !important;
}
.v-radio {
  margin-right: 30px;
}
.v-checkbox + .v-checkbox {
  margin-left: 0 !important;
}
.v-checkbox {
  margin-right: 30px;
}
.div--small {
  .v-radio {
    line-height: 32px !important;
  }

  .el-rate {
    margin-top: 6px;
  }
}

.div--mini {
  .v-radio {
    line-height: 28px !important;
  }

  .el-rate {
    margin-top: 4px;
  }
}
.div--medium {
  .v-radio {
    line-height: 36px !important;
  }

  .el-rate {
    margin-top: 8px;
  }
}
