@mixin font-size($multiply-by: 1, $property: "") {
  // font-size: $multiply-by*map-get($default-font-size, 'px');
  // font-size: $multiply-by*map-get($default-font-size, 'rem');

  font-size: calc(var(--default-font-size-px) * $multiply-by) #{$property};
  font-size: calc(var(--default-font-size-rem) * $multiply-by) #{$property};
}

@function calculate-font-size($multiply-by: 1, $unit: "rem") {
  @return $multiply-by * map-get($default-font-size, $unit);
}

@mixin line-height {
  line-height: map-get($default-line-height, "px");
  line-height: map-get($default-line-height, "rem");
}

@function calculate-line-height($multiply-by: 1, $unit: "rem") {
  @return $multiply-by * map-get($default-line-height, $unit);
}

@function calculate-space($multiply-by: 1, $unit: "px") {
  @return #{$multiply-by * map-get($default-spacing, $unit)}#{$unit};
}
