$btn-sizes: (
  'small': 28,
  'default': 41,
  'large': 54
);
$btn-font-sizes: (
  'default': .75rem
);
$btn-font-weight: 400;
$btn-letter-spacing: normal;
$btn-icon-font-size: 1.0625rem !important;
$list-item-min-height: 48px;
$blockquote-font-size: 1.25rem;

$card-border-radius: 6px;
$card-text-font-weight: 300;
$card-elevation: 1;

$headings: (
  'h1': ('size': 3.3125rem,
    'line-height': 1.15em,
    'weight': 300),
  'h2': ('size': 2.25rem,
    'line-height': 1.5em,
    'weight': 300),
  'h3': ('size': 1.5625rem,
    'line-height': 1.4em,
    'weight': 300),
  'h4': ('size': 1.125rem,
    'line-height': 1.4em,
    'weight': 300),
  'h5': ('size': 1.0625rem,
    'line-height': 1.4em,
    'weight': 300),
  'h6': ('size': .75rem,
    'line-height': 1.5em,
    'text-transform': uppercase,
    'weight': 500),
  'subtitle-1': ('size': 0.875rem,
    'weight': 300),
  'subtitle-2': ('size': 0.875rem,
    'line-height': 1.5em !important,
    'weight': 300),
  'caption': ('size': 0.8125rem,
    'weight': 300),
  'overline': ('letter-spacing': normal,
    'line-height': 0.625rem,
    'size': 0.625rem,
    'weight': 500)
);

// breakpoints
$breakpoints: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 480px,
  xxs: 360px
);

// Tabs
$tab-font-size: .775rem;
$tab-font-weight: 500;
$tabs-item-letter-spacing: normal;

// box shadows
$shadow-key-umbra: (
  1: (0 1px 4px 0 rgba(0, 0, 0, .14)),
  12: (0 16px 38px -12px rgba(0, 0, 0, .56))
);
$shadow-key-penumbra: (
  1: (0 0 0 0 rgba(0, 0, 0, 0)),
  12: (0 4px 25px 0 rgba(0, 0, 0, .12))
);
$shadow-key-ambient: (
  1: (0 0 0 0 rgba(0, 0, 0, 0)),
  12: (0 8px 10px -5px rgba(0, 0, 0, .2))
);

// Colors
$material-light: (
  'background': #EEEEEE,
  'text': ('primary': #333333,
    'secondary': #999999)
);
$primary-color: #6200ee !default;
$accent-color: #EE7200 !default;
$disabled-color: #D8D8D8;
$purple: #5200C7;
$white: #fff;
$grayish-white: #FAFAFA;
$dark-purple: #4A01B2;
$light-gray: #DFE0EB;
$gray: #D8D8D8;

$dark-primary: #000;
$dark-secondary: #6c757d;
$button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$sidebar-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14),
  0px 6px 30px rgba(0, 0, 0, 0.12),
  0px 8px 10px rgba(0, 0, 0, 0.2);

$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);
$overlays: (
  "primary": linear-gradient(0deg, rgba(187, 134, 252, 0.12), rgba(187, 134, 252, 0.12)),
  "success": #E1FCEF,
  "info": #F0F1FA,
);