$btn-sizes: (
  'small': 28,
  'default': 41,
  'large': 54
);

$btn-font-sizes: (
  'default': 1rem,
);

$btn-font-weight: 400;
$btn-letter-spacing: normal;
$btn-icon-font-size: 1.0625rem !important;