// Colors
$material-light: (
  'background': #EEEEEE,
  'text': ('primary': #333333,
    'secondary': #999999)
);

$primary-color: #6200ee !default;
$accent-color: #EE7200 !default;
$dark-primary-color: #5200C7;
$dark-primary-color-2: #4A01B2;
$disabled-color: #D8D8D8;

$white: #fff;
$grayish-white: #FAFAFA;
$light-gray: #DFE0EB;
$gray: #D8D8D8;
$black: #000;
$dark-gray: #6c757d;

$theme-colors: (
  "primary": $primary-color,
  "primary-dark": $dark-primary-color,
  "primary-dark-2": $dark-primary-color-2,
  "accent": $accent-color,
);

$primary-text-color: #000; 
$secondary-text-color: transparentize($primary-text-color, .4); 


$overlays: (
  "primary": linear-gradient(0deg, rgba(187, 134, 252, 0.12), rgba(187, 134, 252, 0.12)),
  "success": #E1FCEF,
  "info": #F0F1FA,
);